:root {
    --primary-color: lightcoral;
    --secondary-color: rgb(244, 243, 243);
    --tertiary-color: rgba(203, 199, 199, 0.877);
    --forth-color: rgba(53, 53, 53, 0.877);
}


body {background-color: var(--primary-color);
font-size: 15px;
font-family: 'Space Grotesk' , sans-serif;
}

#container {
height: 525px;
width: 360px;
margin: 100px auto;
background-color: var(--secondary-color);
box-shadow: 5px 5px 5px var(--forth-color) ;
border-radius:20px;
}

.title {
    background-color: var(--tertiary-color);
    color: rgb(93, 93, 93);
    padding: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;

}

.tipsForm {
    padding-left: 15px;
}

.formInput {
    background-color: white;
    width: 40px;
    padding: 5px 5px 8px 8px;
}

.formSelect {
  width: 180px;  
  padding: 5px;
  font-size: 14px;
}

.formSubmit {
    background-color: var(--primary-color);
    border-radius: 3px;
    font-size: 16px ;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 50px;
    color: white;
    box-shadow: 3px 3px 3px var(--forth-color) ;
}

#totaltip {
font-size: 20px ;
margin-top: 5px;
text-align: center;
}